@CHARSET "ISO-8859-1";

.dataTables_wrapper .dt-buttons {
  float:none;  
  text-align:center;
  left: 35%;
}

.lbl-title-grid-right {
    font-size: 15px;
    padding-right: 35%;
    padding-bottom: 10px;
}

.lbl-title-grid-left {
    font-size: 15px;
    padding-left: 15%;
    padding-bottom: 10px;
}

.grid-sec-td-center tr > td + td {
	text-align: center;
}

/* Customização extra */
.form-actions {
  padding: 15px 20px 15px 20px;
  /* margin-top: 20px;*/
  background-color: whitesmoke;
  border-top: 1px solid #e5e5e5;
  *zoom: 1; }
  .form-actions:before, .form-actions:after {
    display: table;
    content: "";
    line-height: 0; }
  .form-actions:after {
    clear: both; }

.form-actions > * { /* Adiciona espaçamento entre botões da barra inferior */
	margin-right: 10px;
} 

/* Customização do base.css */
.container {
	margin-top: -18px;
}